.fixed {
  position: static;
}

.scaleWidth {
  width: 100%;
}

body {
  padding-top: 0;
}

nav[role=navigation] {
  position: static;
}

@media only screen and (min-width: 784px) {
  .fixed {
    z-index: 100;
    position: fixed;
    width: inherit;
  }
  
  .scaleWidth {
    width: 90%;
  }
  
  nav[role=navigation] {
    position: fixed;
  }

  
  body {
  padding-top: 70px;
  }
}

.progress-detail {
  display: block;
  white-space: pre-line;
}
